body{
    background-color: #dcb3b3;
}

h1{
    text-align: center;
    color: #000000;
}
p{
    text-align: center;
    color: #000000;
}
.searchBarContainer{
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 6px 12px;

}
.search-icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.searchBarContainer input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}
.AddClubButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 6px 12px;
}
.access{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}
.search-row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.clubs ul{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}
.club-card{
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 5px;
}
.logo{
    width:100px;
    height:auto;
}
.carousel-container{
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 100px;
}
.logo-container{
    justify-content: space-around;
    display: flex;
    background-color: #7f7b7b;
    padding: 20px;
    min-width: 100%;
    flex-shrink: 0;
    animation: marqueeScroll 15s linear infinite;
}
@keyframes marqueeScroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}